section {
    min-height: 600px;
    margin: 20px 0 45px 0;
    padding-top: 10px;
}

section .sec-header {
    font-size: 32px;
    font-weight: 700;
}

section .sec-header > span {
    color: var(--cl-primary);
}